apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/Juangmz7/Gaze-app.git'
    targetRevision: test
    path: infra/k8s/argocd/apps
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd        # Installed at argocd namespace
  syncPolicy:
    automated:
      prune: true
      selfHeal: true