name: CI Gateway Service
on:
  push:
    branches: [ "main", "dev" ]
    paths:
      - 'api-gateway/**' # Trigger on service changes
      - 'common-events/**'         # Trigger on shared events changes
      - 'common-security/**'       # Trigger on shared security changes

  pull_request:
    branches: [ "main", "dev" ]
    paths:
      - 'api-gateway/**'
      - 'common-events/**'
      - 'common-security/**'

jobs:
  call-template:
    uses: ./.github/workflows/service-ci.yaml
    with:
      service_name: 'gateway-api'
      service_path: 'api-gateway'
    secrets: inherit # Pass repo secrets automatically